body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.map-overlay {
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

#route-drop-list li span {
    display: none;
}

#route-drop-list li:hover span {
    display: block;
}